<h1 class="title">URBANTRANSITIONERS</h1>

<a href="#/about" class="link">{{main.messages[main.lang].about}}</a>
<a href="#/blog" class="link">{{main.messages[main.lang].blog}}</a>
<a href="#/links" class="link">{{main.messages[main.lang].links}}</a>
<a href="#/team" class="link">{{main.messages[main.lang].team}}</a>
<a href="#/contact" class="link">{{main.messages[main.lang].contact}}</a>

<div class="language-select">
	<a href="javascript: 0 void" ng-click="main.lang = 'en'">en</a>
    <a href="javascript: 0 void" ng-click="main.lang = 'swh'">swh</a>
</div>